
h1,h2,h3 {
  font-family: 'chunkfiveroman', serif;
  font-weight: normal;
  text-decoration: none;
  text-shadow: 1px 1px 10px rgba(0,0,255,0.25);
}
h1 { font-size: 48px; }
h2 { font-size: 18px; text-shadow: none; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ebf2f9;
  font: 16px/1.428571429 sans-serif;
  color: #205081;
  margin: 0;
 }

div.code {
  background: black;
  margin: 0px 50px;
  color: white;
  font-size: 10px;
  font-family: "Courier", serif;
  border-radius: 5px;
  border: solid 1px white;
  padding: 10px;
  text-align: left;
  white-space:pre-wrap;
}
div.code prompt { color: #14892c; font-weight: bold;}
div.code property { color: #70b0b0; font-weight: bold;}
div.code value { color: #d04437; font-weight: bold;}
div.code cmd { color: #d0d0d0; font-weight: bold;}
div.block { border-top: 1px solid rgba(0, 0, 0, 0.5); margin-top: 15px; overflow: hidden; width: 100%; }
div.block.first { margin-top: 35px; }

div.block div.column { padding: 15px 15px 0px 15px; width: 360px; }
div.block div.left { float: left; }
div.block div.right { float: right;}

div.footer { font-size:12px; text-align:right; }
div.footer ul li {display:inline;}

#container { margin: 10px auto; width: 800px; background:#ccd9ea; border-radius: 5px; }
#content { clear: left; padding: 20px 20px 5px 20px; }
.center { text-align: center; }

@media screen and (max-width: 800px ) {
  #container {
    width: 100%;
    border-radius: 0;
  }
  div.block div.column {
    float: none;
    width: 100%;
  }
}
